<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>CloudDesktop</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.hjy.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteSession</servlet-name>
    <servlet-class>com.hjy.servlet.DeleteSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSession</servlet-name>
    <url-pattern>/DeleteSession2</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>HeartbeatServlet</servlet-name>
  	<servlet-class>com.hjy.servlet.HeartbeatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>HeartbeatServlet</servlet-name>
  	<url-pattern>/HeartbeatServlet2</url-pattern>
  </servlet-mapping>
  
  <listener>
    <listener-class>com.hjy.listener.SessionListener</listener-class>
  </listener>
  <session-config>
    <session-timeout>1</session-timeout>
  </session-config>
</web-app>